* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContent {

  padding: 20px;
}

.headerContents {
  display: flex;
  align-items: center;
}

.Logo {
  display: flex;
  align-items: center;
}

.groupContainer {
  display: flex;
}