* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContentsContainer {
  padding: 20px;
}

.headerContents {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerRightContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.headerLeftContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.groupContainer {
  display: flex;
  gap: 30px;
}

.personalContainer {
  display: flex;
  gap: 10px;
  color: #D760C7;
  font-weight: 700;
}

.BusinessContainer {
  display: flex;
  gap: 10px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.l

.Language {
  display: flex;
  align-items: center;
  gap: 20px;
}


