.bodyRef {
  background-color: black;
}

.businessRefColor {
  color: white;
}

.heroScreenTxtRefColor {
  color: white;
}

.cardText {
  color: white;
}

.langTextColor {
  color: white;
}

.appPresentationTextColor {
  color: white;
}

.appPresentationHeaderText {
  color: white;
}

.cashBackHeadTitle {
  color: white;
}

.cardsColor {
  color: white;
}

.brandsTextTitleColor {
  color: white;
}

.logoRef {
  color: white;
}

.downloadTitleColor {
  color: white;
}

.menuRef .{
  fill: white !important;
}