.arrow.left {
  position: relative;
  right: 82px;
}

.arrow.right {
  position: relative;
  left: 82px;
}
.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.circlesContainer {
  display: flex;
  gap: 5px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  transition: all 0.3s ease;
}


.circle.active {
  background-color: #000;  border: 2px solid #FFF; /* Optional styling for active circle */

}


.brightness {
  width: 30px;
  height: 30px;
}