
.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.circlesContainer {
  display: flex;
  gap: 5px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.circle {
  border-radius: 50%;
  transition: all 0.3s ease; /* Smooth resizing */
}

.circle.active {
  border: 2px solid #FFF; /* Optional styling for active circle */
}

.circle.active {
  background-color: #000;
}


.brightness {
  width: 30px;
  height: 30px;
}