.bodyRef {
  background-color: black;
}

.businessRefColor {
  color: white;

}

.heroScreenTxtRefColor {
  color: white;

}

.cartText {
  color: white;
}

.appPresentationTextColor {
  color: white;
}

.appPresentationHeaderTextColor {
  color: white;
}
